input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
input:focus {
	background-color: lightblue;
	border: 3px solid #555
}

button {
	width: 100%;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

button:hover {
	background-color: #4ce652;
}

#destroy {
	background-color: #cd1212;
}

#destroy:hover {
	background-color: #ff0303;
}

#global {
	width: 70%;
	margin-left: 15%
}

.flash-error {
	width: 100%;
	margin: 4px 2px;
	padding: 8px 16px;
	box-sizing: border-box;
	border: 0.5px solid rgb(106, 2, 2);
	color: rgb(106, 2, 2);
	text-align: center;
	border-radius: 5px;
	background-color: rgba(179, 24, 24, 0.35);
}

.flash-notice {
	width: 100%;
	margin: 4px 2px;
	padding: 8px 16px;
	box-sizing: border-box;
	border: 0.5px solid rgb(10, 84, 8);
	color: rgb(5, 48, 4);
	text-align: center;
	border-radius: 5px;
	background-color: rgba(24, 179, 35, 0.35);
}
