#gallery-content {
    background-color: rgba(198, 198, 198, 0.59); 
    width: 100%;
    margin: 0 auto;
    padding: auto;
    text-align: center;
    padding: 8px 16px;
}

#gallery-image {
    margin: 1px auto;
    width: 20%;
    max-width: 300px;
    display: inline-block;
    padding: 2px;
}

#gallery-image img {
    width: 100%;
    margin: 0 auto;
}