/* 
** General layout style 
*/

* {
	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-color: #333;
}

#global {
	margin-top: 0;
	width: 100%;
	background-color: white;
	height: 100%;
	padding: 8px 0px;
}


/* 
** navigation style 
*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: #333;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
nav li a:hover, nav li a:active {
	background-color: rgb(58, 149, 152);
}

nav li a img {
	display: flex;
	width: 20px;
	height: auto;
	margin: 0 auto;
}

section {
	margin: 0;
	padding: 0;
	width: 70%;
	margin: 0 auto;
}

/* 
** form style 
*/

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input:focus {
	background-color: lightblue;
	border: 3px solid #555;
}

button {
	width: 100%;
	margin: 0 auto;
	background-color: #333;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(58, 149, 152);
}

/* Css rules for like image */

.like {
    float: right;
}

.like img {
    width: 30px;
    margin-right: 5px;
	border-radius: 0;
	box-shadow: none;
}